/*
  Layout
 */
$siteWidth          : 1280px;
$headerHeight       : 88px;
$navBarHeight       : 51px;
$mobileHeaderWidth  : 50vw;

/*
  Colors
 */
$primary      : #1b6579;
$focus        : #cc113f;
$light        : #f6f6f6;
$dark         : darken(#797878, 15%);
$medium       : #bfbfbf;
$lightBorder  : #cedadf;

/*
  Social Medias Colors
*/

$facebook     : #3b5998;
$twitter      : #55acee;
$google       : #dd4b39;
$youtube      : #bb0000;
$linkedin     : #007bb5;
$instagram    : #125688;
$whatsapp     : #4dc247;
$pinterest    : #cb2027;
$vine         : #00bf8f;
$snapchat     : #fffc00;
$flickr       : #ff0084;
$tumblr       : #32506d;
$vk           : #45668e;

/*
  Fonts
 */
$mainFont : Lato, sans-serif;
$focusFont : Bungee, Lato, sans-serif;

/*
  Breakpoints
 */
$breakSmartphoneMini : 320px;
$breakSmartphone : 630px;
$breakTablet : 850px;
$breakDesktop : 1280px;