p.alert {
    position: relative;
    dislay : block;
    width : 100%;
    min-height : 40px;
    line-height:40px;
    padding: 20px 10px;
    text-align: center;
    background: $medium;
    border-radius: 3px;
    &.danger {
        color:white;
        background: $error;
    }
    &.notice {
        color:white;
        background:$notice;
    }
    span.close {
        position:absolute;
        right:11px;
        top:8px;
        cursor: pointer;
        transition-duration: 300ms;
        &:hover {
            transform: scale(2);
        }
    }
}
