.button {
  padding:10px 30px;
  margin:0 5px;

  font-family:$mainFont;
  font-size:80%;
  font-weight:100;
  color:lighten($dark, 20%);
  text-transform:uppercase;
  letter-spacing:.5px;
  background-color:white;
  border-radius:2px;
}

.button.focus {
  color:white;
  background-color:$focus;

  @extend .button;
}

/*
  Transitions&
 */
.button {
  @include button-transition();
}
