.button {
    padding:10px 30px;
    margin:0 5px;

    font-family:$mainFont;
    font-size:85%;
    font-weight:100;
    color:$dark;
    text-transform:uppercase;
    letter-spacing:.5px;
    background-color:white;
    border-radius:2px;
    cursor : pointer;
}

.button.focus {
    color:white;
    background-color:$focus;

    @extend .button;
}

/*
Transitions&
*/
.button {
    @include button-transition();
}
