#header {
  background-color:$light;
  .header {
    display:block;

    &__branding {
      line-height:$headerHeight;

      a.logo {
        display:inline-block;
        float:left;
        padding-right:15px;
        img {
          vertical-align:middle;
        }
      }

      h1 {
        color:$dark;
      }
    }
    &__body {
        &__buttons {
            @include mp0;
        }
      text-align:right;
    }
  }
}

#navbar {
    height:$navBarHeight;
    width :100%;
    background : $primary;
    line-height:$navBarHeight;
    ul li a {
        color : white;
        padding: 0 25px;
        font-weight: 700;
        font-size : 90%;
    }
}
