#header {
  background-color:$light;
  .header {
    display:block;

    background:pink;
    &__branding {
      line-height:$headerHeight;

      a.logo {
        display:inline-block;
        float:left;
        padding-right:15px;
        img {
          vertical-align:middle;
        }
      }

      h1 {
        color:$dark;
      }
    }
    &__body {
        &__buttons {
            @include mp0;
        }
      text-align:right;
    }
  }
}
