#header {
  height: $headerHeight + $navBarHeight;
  max-height: $headerHeight + $navBarHeight;
  //overflow: hidden;

  @include mp0;
  .header {
    &__branding {
      @include mp0;
      @include span(6);
      a.logo {
        img {
          height: $headerHeight / 1.4;
        }
      }
    }
    &__body {
      @extend .header__branding;
      @include span(10);
    }

  }
}

section {
  padding: $spaceL;
}

